# Python

- 데이터 타입
    - 숫자
    - 변수
    - 문자열
    - 출력
    - 리스트 (List)
    - 딕셔너리 (Dictionary)
    - 논리 (Boolean)
    - 튜플 (Tuple)
    - 집합 (Sets)
- 비교 연산자
- 논리 연산자
- if, elif, else 문
- 반복문 for / while
- range()
- List 사용
- 함수 (Function)
- 메소드 (method)
- 클래스 (class)

---

### 1. 데이터 타입

#### 1.1 숫자

In [1]:
print(1+1) # 덧셈
print(1*3) # 곱셈
print(1/2) # 나눗셈
print(2**4) # 제곱
print(4%2) # 나머지
print((2+3) * (5+5)) # 사칙연산

2
3
0.5
16
0
50

#### 1.2 변수 - 컴퓨터가 기억하도록하는 기억 단위

In [2]:
x = 2 # 오른쪽의 숫자를 왼쪽의 변수에 집어넣는다
y = 3
z = x + y
z

5

#### 1.3 문자열

In [3]:
print('Single quotes')
print("double quotes")
print("wrap lot's of other quotes") # 중간에 있는 '를 문자로 표시

Single quotes
double quotes
wrap lot's of other quotes

#### 1.4 출력

In [4]:
num = 12
name = '홍길동'

print('숫자는 : {}, 이름은 : {}'.format(num, name))
print('숫자는 : %d, 이름은 : %s'% (num, name)) # %d = 숫자, %s = 문자열, %f = 부동소수점

숫자는 : 12, 이름은 : 홍길동
숫자는 : 12, 이름은 : 홍길동

#### 1.5 리스트 (List) - 순서가 있는 데이터의 집합, [ ] 형태

In [5]:
print([1, 2, 3])
print(['hellow', 1, [1, 2]]) # 다양한 type의 데이터가 하나의 리스트에 저장 가능

[1, 2, 3]
['hellow', 1, [1, 2]]

In [6]:
ls = ['a', 'b', 'c']

# list append
ls.append('d')
print(ls)

# list indexint
print(ls[0])
print(ls[0:2])

['a', 'b', 'c', 'd']
a
['a', 'b']

#### 1.6 딕셔너리 (Dictionary) - {key : value} 값으로 구성

In [7]:
dic = {'key1' : 'item1', 'key2' : 'item2'}

print(dic['key1'])
print(dic['key2'])

item1
item2

#### 1.7 논리 (Booleans) - True / False

In [8]:
# 컴퓨터는 0,1로 구성
print(1 == True) # 1과 True이 같나?
print(0 == False) # 0과 False가 같나?

True
True

#### 1.8 튜플 (Tuple) - 리스트와 동일, 변경은 불가능

In [9]:
t = (1, 2, 3)
t[0]

1

t[0] = 'NEW' # Tuple은 변경이 불가능

#### 1.9 집합 (Set) - 중복을 제거, { } 사용

In [10]:
print({1, 2, 3})
print({1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3})
print(set([1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])) # set을 이용해 list를 set으로 변환

{1, 2, 3}
{1, 2, 3}
{1, 2, 3}

---

### 2. 비교 연산자 (Comparison Operators)

In [11]:
print(1 > 2)
print(1 < 2)
print(1 >= 1)
print(1 <= 4)
print(1 == 1)
print('hi' == 'bye')

False
True
True
True
True
False

---

### 3. 논리 연산자 (Logic Operators)

In [12]:
print((1 > 2) and (2 < 3)) # 둘 다 맞는지
print((1 > 2) or (2 < 3)) # 둘 중 하나라도 맞는지
print((1 == 2) or (2 == 3) or (4 == 4)) # 셋 중 하나라도 맞는지

False
True
True

---

### 4. if, elif, else 문

In [13]:
if 1<2:
    print('맞습니다!') # True면 적용

맞습니다!

In [14]:
if 1 > 2:
    print('맞습니다!') # True면 적용
else:
    print('틀립니다..') # False면 적용

틀립니다..

In [15]:
if 1 == 2:
    print('같습니다!')
elif 3 == 3:
    print('같습니다!')
else:
    print('모르겠습니다..')

같습니다!

---

### 5. 반복문

#### 5.1 for 문

In [16]:
ls = [1, 2, 3, 4, 5]

for item in ls: # ls의 데이터를 하나씩 item에 넣어줌
    print(item, '입니다.')

1 입니다.
2 입니다.
3 입니다.
4 입니다.
5 입니다.

#### 5.2 while 문

In [17]:
i = 0
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 0
i is: 1
i is: 2
i is: 3
i is: 4

---

### 6. Range( )

In [18]:
range(5)

range(0, 5)

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [20]:
list(range(5))

[0, 1, 2, 3, 4]

---

### 7. List 사용

In [21]:
x = [1, 2, 3, 4]

y = []
for i in x:
    y.append(i**2)
    
print(y)

[1, 4, 9, 16]

In [22]:
# [만들 데이터 + for 문]
[i**2 for i in x]

[1, 4, 9, 16]

---

### 8. Functions

In [23]:
def my_func(param1 = 'defult'):
    '''
    함수에 대한 설명을 넣는 곳
    '''
    print(param1)

In [24]:
my_func # 함수의 위치, 주소

In [25]:
my_func() # 함수 실행, 아무런 parameter를 안주면 default값 실행

defult

In [26]:
my_func(param1 = '새로운 파라미터')

새로운 파라미터

In [27]:
def square(x):
    return x ** 2

In [28]:
y = square(2)
y

4

---

### 9. Methods - Class안에 있는 함수를 의미

In [29]:
st1 = 'Hello my name is SAM'
# 문자열이라는 클래스에 lower, upper, split이라는 method를 실행
print(st1.lower()) # 소문자 (st1이라는 문자열에 속해있는 lower라는 메소드를 실행해라)
print(st1.upper()) # 대문자
print(st1.split())

hello my name is sam
HELLO MY NAME IS SAM
['Hello', 'my', 'name', 'is', 'SAM']

In [30]:
st2 = 'Go sports! #Sports'
print(st2.split('#')) # #을 기준으로 나누기
print(st2.split('#')[1])

['Go sports! ', 'Sports']
Sports

In [31]:
print(dic.keys())
print(dic.items())

dict_keys(['key1', 'key2'])
dict_items([('key1', 'item1'), ('key2', 'item2')])

In [32]:
ls = [1, 2, 3]
print(ls.pop()) # 제일 마지막에 있는 것을 반환하고 ls에서 빼버림
print(ls)

3
[1, 2]

---

### 10. Class = Data + Fucntion (프로그램에 있는 또 다른 프로그램)

#### 10.1 변수 범위

In [33]:
class A:
    
    z = 1
    
    def __init__(self):
        self.x = 10
        
    def f1(self, y):
        return self.x + y
    
print(A.z)

1

In [34]:
a = A()
print(a.z)
print(a.x)
print(a.f1(20))

1
10
30

In [35]:
a.z = a.z * 2
print(A.z)
print(a.f1(20))

1
30

In [36]:
A.z = 10
print(A.z)
print(a.z)

10
2

#### 10.2 클래스 상속

In [37]:
class A:
    
    def __init__(self):
        self.x = 10
        
class B(A): # A에 있는 속성을 다 가져오기
    
    def f1(self, y):
        return self.x + y
    
b = B()
print(b.x)
print(b.f1(20))

10
30